__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv
.env
.git
.gitignore
.dockerignore
*.md
.DS_Store
*.sqlite
*.db
alembic/versions/*.py
!alembic/versions/__init__.py
.pytest_cache
.coverage
htmlcov/
